@import '../../../../assets/sass/mixins.scss';
@import '../../../../assets/sass/variables.scss';

.movies_main_box {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  @include flexBox(wrap, column, center, center);
  .movies_box {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    @include flexBox(wrap, row, center, center);
  }
}
