@import '../src/assets/sass/mixins.scss';
@import '../src/assets/sass/variables.scss';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app_main_box {
  min-height: 100vh;
  min-width: 100vw;
  @include flexBox(nowrap, row, center, center);

  .app_box {
    width: 1200px;
    min-height: 100vh;
    padding: 10px 0;
    // background-color: $second_background_color;
    @include flexBox(nowrap, column, space-between, center);
  }
}
